.radio {

}

.radio::before {
}


.radio:checked::before {
}

.label {
    padding-bottom: 20px;
}

.options {
    padding-left: 100px;
    display: flex;
    flex-direction: column;


}

.options span {
    padding-left: 10px;
}
