
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');


.App {
    --header_height: 60px;
}

.hw {
    /*height: calc(100vh - var(--header_height) - 156px);*/
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 150px;
    margin-bottom: 20px;


}



.hwTitle {
    padding: 70px 0px 10px 70px;
    font-weight: 600;
    font-size: 22px;
}

.hw1, .hw2, .hw3, .hw4 {
    padding: 17px 70px;
}

.hw10 {
    padding: 17px 70px;
}