.button {
    padding: 5px 24px;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    margin-right: 24px;
    margin-bottom: 15px;
    border: 1px solid #0066CC;
    cursor: pointer;
}

.button:last-of-type {
    margin-right: 0px;

}

.disabled {

}

.secondary {
    color: #0066CC;
    background: #ffffff;

}

.default {
    color: #ffffff;
    background: #0066CC;

}

.red {
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
